.gw-left > input,.gw-left > select{
    margin-bottom: 5px;
}
.gw-right {
    vertical-align: top;
}
.gw-right .action{
    margin-bottom: 12px;
}

.btn-user{
    background: #67b4c8;
    color:#fff;
    font-weight: bold;
    // margin: 0 auto;
    border: none;
    // margin-top: 15px;
  }


 