<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="saveCompany()">
      <div class="col-md-6 md gw-left">  
        <input class="form-control"  type="number" [(ngModel)]="company._id" name="_id" placeholder="ID">
        <input class="form-control" type="text" [(ngModel)]="company.name_company" name="name_company" id="name_company" placeholder="COMPANY NAME">
        <input class="form-control" type="text" [(ngModel)]="company.address" name="address" id="address" placeholder="ADDRESS">
        <input class="form-control" type="number" [(ngModel)]="company.tax_number"  name="tax_number" id="tax_number" placeholder="TAX">
        <input class="form-control" type="number" [(ngModel)]="company.phone" name="phone" id="phone" placeholder="PHONE">

      </div>
      <div class="col-md-6 md gw-right">  
        <div class="row action">
          <a style="text-decoration: none" class="btn-search" [routerLink]="['/admin']" >SEARCH</a>
          <!-- <button class="btn-add" >ADD</button> -->
          <!-- <button class="btn-delete">DELETE</button> -->
          <button [routerLink]="['/user']" class="btn-user">USER</button>
        </div>
      </div>
      <div class="row">
        <button class="btn-submit btn-search" style="width: 190px;" type="submit" value=" ">ADD COMPANY</button>
      </div>
    </form>

    
  </div>
</div> 