<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 md gw-left">  
      <input class="form-control" type="text" name="" placeholder="NODE">
      <input class="form-control" type="text" name="" placeholder="BELONG TO GW">
      <input class="form-control" type="text" name="" placeholder="ID">
      <input class="form-control" type="text" name="" placeholder="STATUS">
      <input class="form-control" type="text" name="" placeholder="OS">
      <input class="form-control" type="text" name="" placeholder="MANUFACTURE">
      <input class="form-control" type="text" name="" placeholder="CODEC">
      
    </div>
    <div class="col-md-6 md gw-right">  
      <div class="row action">
        <button class="btn-search">SEARCH</button>
        <button class="btn-add">ADD</button>
        <button class="btn-delete">DELETE</button>
      </div>
      <div class="row">
        <input class="form-control" type="text" name="" placeholder="BELONG TO GROUP">
        <input class="form-control" type="text" name="" placeholder="DEVEUI">
        <input class="form-control" type="text" name="" placeholder="APPEUI">
        <input class="form-control" type="text" name="" placeholder="APPKEY">
        <input class="form-control" type="text" name="" placeholder="PROFILE">
      </div>
    </div>
    <div class="row">
      <button class="btn-submit btn-search" type="submit" value=" ">ADD A NODE</button>
    </div>
  </div>
</div>