<div class="row footer" style="display: flex;">
  <div class="offset-1 col-md-3 " style="">
    <b>DFM EUROPE</b>
    <br> 21 Rue de brin
    <br> 86130 Jaunay Clan, Framce
    
  </div>
  <div class="col-md-4 custom-co3 text-center" style="">
    Tél : +33 (0)5.49.50.41.69
    <br> Email: <a href="mailto:info@dfm-europe.com">info@dfm-europe.com</a>
  </div>
  <div class="col-md-4 custom-co2 text-center">
      Email: <a href="mailto:info@dfm-europe.com">info@dfm-europe.com</a>
  </div>
  
</div>
<!-- <div class="row footer-social text-center">
  <div class="col-md-12">
    <a href="https://twitter.com/sateco86?lang=fr">
      <i class="fa fa-twitter fa-lg"></i> Twitter
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://fr.linkedin.com/company/sateco">
      <i class="fa fa-linkedin fa-lg"></i> Linkedin
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center footer-legal">
    ©2018 Tous droits réservés	- Mentions légales - Informations sur les cookies	
  </div>
</div> -->