<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 md gw-left">  
      <input class="form-control" type="text" name="" placeholder="GW">
      <input class="form-control" type="text" name="" placeholder="ID">
      <input class="form-control" type="text" name="" placeholder="IP address">
      <input class="form-control" type="text" name="" placeholder="OS">
      
    </div>
    <div class="col-md-6 md gw-right">  
      <div class="row action">
        <button class="btn-search">SEARCH</button>
        <button class="btn-add">ADD</button>
        <button class="btn-delete">DELETE</button>
      </div>
      <div class="row">
        <input class="form-control" type="text" name="" placeholder="MAC ADD">
      </div>
    </div>
    <div class="row">
      <button class="btn-submit btn-search" type="submit" value=" ">ADD A GW</button>
    </div>
  </div>
</div>