

  

<div class="col-md-12 col-sm-12 col-xs-12" >
  <div class="row" >
    <div class="col-md-12 col-sm-12" style="padding: 0;">
      <div class="col-md-6 col-sm-12" style="padding: 0px;display: inline-block;" >
          <input type="text" class="form-control" placeholder="GW" >
      </div>
      <div class="col-md-6 col-sm-12" style="display: inline-block;" >
        <button class="btn-search">SEARCH</button>
        <button class="btn-add">ADD</button>
        <button class="btn-delete">DELETE</button>
      </div>
    </div>

    <div class="col-md-12 col-sm-12" style="border: 6px solid #fff;padding: 0px;">
      <agm-map [latitude]="46.7894076" [longitude]="0.1676793" [zoom]="4">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        ]="4">
        <agm-marker [latitude]="46.5894076" [longitude]="0.1876793"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
